.dropdown-menu{
    right: 0 !important;
    left: auto !important;
    min-width: 1rem !important;
    background-color:#ecfbfc !important ;
    border-radius:8px !important;
}
.img1{
    width: 10%;
    float: right;
  
}